<launch>
    <param name="use_sim_time" value="true" />
    <arg name="play_bagfile" default="$(find sim2real)/rosbag/0424/remote_contro_imagel.bag"/>
    <arg name="save_bagfile" default="$(find sim2real)/rosbag/0424/move_localization.bag"/>
    <arg name="map_dir"     default="$(find sim2real)/pcdmaps/0424"/>
    <arg name="record"  default="false"/>
    <arg name="localization"  default="true"/>
    <arg name="visual"   default="true"/>

    <!-- rosbag play -->
    <node name="player" pkg="rosbag" type="play" output="screen" args="--clock --rate=1.0 $(arg play_bagfile)" />

    <!-- tf -->
    <include file="$(find sim2real)/launch/robot_state_publisher.launch">
        <arg name="robot_description_path" value="$(find sim2real)/urdf/AIRBOT_V3_v2-3.urdf"/>
    </include>

    <!-- fast lio sam -->
    <rosparam command="load" file="$(find fast_lio)/config/velodyne.yaml" />

    <param name="feature_extract_enable" type="bool" value="0"/>
    <param name="point_filter_num" type="int" value="4"/>
    <param name="max_iteration" type="int" value="3" />
    <!--	单帧内，畸变纠正后降采样的分辨率-->
    <param name="filter_size_surf" type="double" value="0.5" />
    <param name="filter_size_map" type="double" value="0.5" />
    <param name="cube_side_length" type="double" value="1000" />
    <param name="runtime_pos_log_enable" type="bool" value="0" />
    <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen" /> 
    
    <!-- record rosbag -->
    <node if="$(arg record)" name="rosbag_record" pkg="rosbag" type="record" args="--lz4 --repeat-latched -a -O $(arg save_bagfile)" output="screen" />

    <!-- rviz -->
    <node if="$(arg visual)" name="rviz" pkg="rviz" type="rviz" args="-d $(find sim2real)/rviz/hdl_localization.rviz" required="true"/>


</launch>