<launch>
    <param name="use_sim_time" value="true" />
    <arg name="play_bagfile" default="$(find sim2real)/rosbag/0424/remote_control_move.bag"/>
    <arg name="save_bagfile" default="$(find sim2real)/rosbag/0424/move_localization.bag"/>
    <arg name="map_dir"     default="$(find sim2real)/pcdmaps/0424"/>
    <arg name="record"  default="false"/>
    <arg name="localization"  default="true"/>
    <arg name="visual"   default="true"/>

    <!-- tf -->
    <include file="$(find sim2real)/launch/robot_state_publisher.launch">
        <arg name="robot_description_path" value="$(find sim2real)/urdf/AIRBOT_V3_v2-3.urdf"/>
    </include>

    <node pkg="tf" type="static_transform_publisher" name="camera_init_to_map"  args="0 0 0 0 0 0 /camera_init /livox_frame 10" />

    <!-- LeGO-LOAM -->
    <arg name="lidar_topic" default="/livox/lidar"/>
    <arg name="imu_topic"   default="/livox/imu"/>

    <rosparam file="$(find sim2real)/config/loam.yaml" command="load"/>

    <node pkg="lego_loam_bor" type="lego_loam_bor"    name="lego_loam_bor"    output="screen" >
       <remap from="/lidar_points" to="$(arg lidar_topic)"/>
       <remap from="/imu/data" to="$(arg imu_topic)"/>
       <param name="lidar_topic" value="$(arg lidar_topic)" type="string" />
    </node>

    <!-- rosbag play -->
    <node name="player" pkg="rosbag" type="play" output="screen" args="-l --clock --rate=1.0 $(arg play_bagfile)" />
    
    <!-- record rosbag -->
    <node if="$(arg record)" name="rosbag_record" pkg="rosbag" type="record" args="--lz4 --repeat-latched -a -O $(arg save_bagfile)" output="screen" />

    <!-- rviz -->
    <node if="$(arg visual)" name="rviz" pkg="rviz" type="rviz" args="-d $(find sim2real)/rviz/hdl_localization.rviz" required="true"/>


</launch>