<launch>
    <param name="use_sim_time" value="true" />
    <arg name="play_bagfile" default="$(find sim2real)/rosbag/0424/remote_contro_imagel.bag"/>
    <arg name="save_bagfile" default="$(find sim2real)/rosbag/0424/move_localization.bag"/>
    <arg name="map_dir"     default="$(find sim2real)/pcdmaps/0424"/>
    <arg name="record"  default="false"/>
    <arg name="localization"  default="true"/>
    <arg name="visual"   default="true"/>

    <!-- tf -->
    <include file="$(find sim2real)/launch/robot_state_publisher.launch">
        <arg name="robot_description_path" value="$(find sim2real)/urdf/AIRBOT_V3_v2-3.urdf"/>
    </include>

    <!-- hdl mappping -->
    <group unless="$(arg localization)">
        <node pkg="hdl_graph_slam" type="hdl_graph_slam_node" name="hdl_graph_slam">
            <remap from="/velodyne_points" to="/livox/lidar"/>
        </node>

        <node pkg="hdl_graph_slam" type="save_map" name="save_map">
            <param name="directory" value="$(arg map_dir)"/>
            <param name="resolution" value="0.05"/>
        </node>
    </group>

    <!-- hdl_localization -->
    <include if="$(arg localization)" file="$(find hdl_localization)/launch/hdl_localization.launch">
        <arg name="nodelet_manager" value="velodyne_nodelet_manager" />
        <arg name="points_topic" value="/livox/lidar" />
        <!-- input clouds are transformed in odom_child_frame, and then localization is performed in that frame -->
        <!-- this is useful to match the LIDAR and IMU coodinate systems /points_raw /imu_raw velodyne_points /handsfree/imu -->
        <arg name="odom_child_frame_id" value="livox_frame" />
        <!-- optional arguments -->
        <arg name="use_imu" value="false" />
        <arg name="invert_imu_acc" value="false" />
        <arg name="invert_imu_gyro" value="false" />
        <arg name="use_global_localization" value="false" />
        <arg name="imu_topic" value="/livox/imu" />
        <arg name="robot_odom_frame_id" value="odom" />
        <arg name="plot_estimation_errors" value="false" />
    </include>

    <!-- record rosbag -->
    <node if="$(arg record)" name="rosbag_record" pkg="rosbag" type="record" args="--lz4 --repeat-latched -a -O $(arg save_bagfile)" output="screen" />

    <!-- rosbag play -->
    <node name="player" pkg="rosbag" type="play" output="screen" args="--clock --rate=1.0 $(arg play_bagfile)" />

    <!-- rviz -->
    <node if="$(arg visual)" name="rviz" pkg="rviz" type="rviz" args="-d $(find sim2real)/rviz/hdl_localization.rviz" required="true"/>

</launch>